<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collage List</title>
    <style>
        body{
            background-color:pink;
        }
    </style>
</head>
<body>
         <h2 >Collage List</h2>
        <h2 >
        {% for model in mymodel %}
            <li>
                <a href="{% url 'detail' detail.id %}"> {{model.name}}</a>
                <a href="{% url 'home' %}">Back</a>
            </li>
        {% endfor %}
       
        
        </h2>
</body>
</html>
