<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Detail</title>
    <style>
        body{
            background-color:pink;
        }
    </style>
</head>
<body>  
        <h1 align='center'>Books Detail!!!</h1>
        {% for books in page_obj %}
            <h1>{{books.id}}.{{books.name}}</h1>
            <p>{{books.desc}}</p>
            <small>{{books.publish_date}}</small><br><br>
        {% endfor %}
        <div>
            <span>
                {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}">Previous</a>
                {% endif %}
                
                <span>{{page_obj.number}}</span>
                {% if page_obj.has_next %}
                    <a href="?page={{page_obj.next_page_number}}">Next</a>
                {% endif %}
            </span>
        </div>

</body>
</html>